DATABASE_URL=postgresql://user:pass@host:5432/opentip?sslmode=require
GITHUB_ID=
GITHUB_SECRET=
NEXTAUTH_SECRET=change-me-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_BASE_SEPOLIA_CONTRACT=0xeD13dB8234d437771e115419BF7498Ddef90Dc8D
NEXT_PUBLIC_BASE_CONTRACT=0xA45Be472a64eE6Daa093c6a975Cd8908C615d594
NEXT_PUBLIC_RELAY_API_KEY=
NEXT_PUBLIC_CHAIN=base
